<div class="top-bar">
	<div class="top-bar-left">
    <div class="top-bar-title">
    <strong><%= link_to 'RentOutGetOut', root_path %></strong>
    </div>
	</div>

    <div class="top-bar-right">
			<% if user_signed_in? %>
				Signed in as <%= current_user.email %>. Not you?
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or
				<%= link_to "Sign in", new_user_session_path %>
			<% end %>
	</div>
</div>
